.wrapper{
    height: 20vh;
    width: 50vw;
    // background-color: burlywood;
    border: 1px solid black;
    margin: auto;
    text-align: center;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    // gap: 1rem;
    padding: 20px;
    gap: 1rem;

    
    &--text{
        // width: 400px;
        min-width: 40px;
        // height: 28px;
        // padding: 6px;
        // margin: 0;
        // border: 1px solid red;
         flex: 1 0 40px;
         outline: none;
         border: none;
        
    }
    &--button{
         padding: 0;
         margin: 0;
      width: 5rem;
    height: 2rem;
    }

}

h1{
    text-align: center;
}


.tagcontainer{
    // background-color: red;
    // width: fit-content;
    display: flex;
    border: 2px solid black;
    flex-wrap: wrap;
    width: 400px;
    height: fit-content;
    align-content: flex-start;
    justify-content: flex-start;
     column-gap:5px;
     padding: 5px;
     row-gap: 4px;

}

.sitag{
//   height: 100%;
//   width:30px;
display: flex;
justify-content: center;
align-items: center;
gap:5px;
padding: 5px;

  background-color: gray;
  border-radius: 100px;
  p{
    margin: 0;
    padding: 0;

  }
 
}